<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Utils.Properties.Settings.FacultyDBConnectionString"
            connectionString="Data Source=CHARBEL-PC;Initial Catalog=FacultyDB;User ID=sa;Password=password2005"
            providerName="System.Data.SqlClient" />
        <add name="Utils.Properties.Settings.FacultyDBConnectionString1"
            connectionString="Data Source=CHARBEL-PC\SQLEXPRESS;Initial Catalog=FacultyDB;User ID=sa;Password=password2005"
            providerName="System.Data.SqlClient" />
        <add name="Utils.Properties.Settings.PharmacyDBConnectionString"
            connectionString="Data Source=CHARBEL-PC\SQLEXPRESS;Initial Catalog=PharmacyDB;User ID=sa;Password=password2005"
            providerName="System.Data.SqlClient" />
        <add name="Utils.Properties.Settings.PharmacyDBConnectionString1"
            connectionString="Data Source=PC2-PC;Initial Catalog=PharmacyDB;User ID=sa;Password=password2005"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>